
.tableDevis{
    font-size: 1px;
}
.v-card.v-card--flat.v-sheet.theme--light {
    height: 144px !important;
    margin-bottom: 22px !important;
    font-size: 16px;
}
.cal-icon{
    margin-bottom: -21px;
    margin-left: 3px;
}
.mdi-calendar-month {
    margin-left: 3px;
}
.data-table-content{
    font-size: 0px;
}

.recherche_rapide_content{
    height: auto !important;
    margin-bottom: 200px !important;
    display: flex;
    .v-list {
        margin-top: 39px;
    }
  
}

.v-card__title.text-p.blue.lighten-4.black--text {
    height: 43px;
}
.recherche_rapide_title{
    background-color: #d2d6de !important;
    // height: 43px;
    padding: 10px;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    line-height: 1;
}

.table-title{
    background-color: #3c8dbc !important;
    padding: 10px;
    color: white;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    line-height: 1;
}
    
    .mdi-clipboard-list-outline{
        font-size: 25px;
        color: white;
        margin-right: 8px;
    }
    .mdi-file-search{
        font-size: 25px;
        margin-right: 8px;
    }
    .mdi-calendar-month{
        margin-left: 10px;
    }
    .bnt-nv-bon-de-livraison{
        background-color: #3c8dbc !important;
        color: white;
        // float: right;
        
        .mdi-plus-thick{
            font-size: 21px;
            margin-right: 8px;
            
        }
    }
    .bnt-nv-avoir{
        background-color: #3c8dbc !important;
        color: white;
        margin-left: 90px;
    }
    .bnt-nv-facture{
        background-color: #3c8dbc !important;
        color: white;
        margin-left: 50px;
    }
    .bnt-nv-reglement{
        background-color: #3c8dbc !important;
        color: white;
        // margin-left: 83%;
    }
    .nouveau-bon{
        text-align: end;
        margin-bottom: 22px;
        margin-top: 22px;
    }

    .table-btn-group{
        margin: 20px;
        margin-left: 76%;
        display: flex;
    }

    .action-icon{
        margin-right: 5px;
    }

    .action-btn{
       text-decoration: none; 
    }

    .btnnnn{
        display: flex;
    }

    .duplique-btn{
        padding: 0 0px;
    }
    .td.text-start{
       padding: 0 67px;
    }

    .v-main__wrap {
        .v-list {
            margin-top: 41px;
        }
    }
    
    .v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > tbody > tr > th, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > th, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
    padding: 0 44px;
}

.mdi-file-pdf{
    size: 300px;
}


.ref{
    .v-text-field > .v-input__control > .v-input__slot:before, .v-text-field > .v-input__control > .v-input__slot:after {
        bottom: -1px;
        content: "";
        left: 0px;
        margin-right: 10px;
        position: absolute;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        width: 80%;
    }
}

.TableAfficheAccomptes{
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}

.v-menu__content.theme--light.menuable__content__active {
    margin-top: 16px;
}






