nav{
    .v-toolbar{
        height: 55px !important;
        background-color: #3c8dbc !important;
    }
    
}
.ch{
    margin-top: 23px;
    
}
.v-menu__content{
    box-shadow: none;
}

.NouvelleDevisProforma__Header {
    margin-bottom: -31px;
}