.AlertConfirmation{
    background-color: white !important;
    width: 40%;
    border-radius:4px;
    position: fixed;
    top: 0;
    transform: translate(65% ,15%);
    z-index: 200;

    p{
        padding: 25px 20px;
        font-size: 13px;
    }
    .Confirmation__text{
        border-top: 1px solid $SideBarIconColor;
        border-bottom: 1px solid $SideBarIconColor;

    }
    .btns{
        padding: 20px;
        text-align: end;
        button{
            padding: 10px 17px;
            border-radius:3px;
            margin: 0px 5px;
        }
        .Btn__Annuer{
            background-color:#e7e7e7;
            color: black;
            &:hover{
                background-color:#b4b4b4;

            }
        }
        .Btn__Confirmer{
            background-color: #008d4c;
            color: white;
            &:hover{
                background-color: #036638;

            }
        }
    }

}