.PopupNewClient,.PopupNewArticle,.Acompte{
    width: 650px;
    background-color: white !important;
    border-radius:4px;
    position: fixed;
    top: 0;
    transform: translate(90% ,5%);
    z-index: 200;
    .PopupNewClient__title{
        padding: 20px 20px 10px 20px;
        border-bottom: 1px solid $SideBarIconColor;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            font-weight: 500;
            color: $SideBarBackColor;
            font-size: 18px;
        }
        svg{
            position: relative;
            fill: $SideBarIconColor;
            bottom:10px;
            cursor: pointer;
            &:hover{
                fill: black !important;
            }
        }
    }
    .PopupNewClient__information,.PopupNewArticle_Information,.PopupChoiserArticle__Search{
        display: flex;
        padding: 10px 20px;
        .PopupNewClient__Right__Filed,.PopupNewArticle_Information__zone,.PopupNewArticle_Information__Faild{
            padding: 10px 0px 25px 0px;
            input,select,textarea{
                border: 1px solid #d4d4d4;
                padding: 8px 10px;
                width:90%;
                border-radius:2px;
                font-size: 12px !important;
            }
            h6{
                margin-bottom: 5px;
                font-size:14px;
            }
            .Checkbox{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0px;
                .Checkbox__single{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    input{
                        width: 25%;
                        cursor: pointer;
                    }
                }
            }
        }
        .CodePostalAndVille{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .PopupNewClient__Right{
            width:50%
        }
        .PopupNewClient__left{
            width:50%;
        }
    }
    .PopupNewClient__btns{
        padding: 20px 20px 10px 20px;
        border-top: 1px solid $SideBarIconColor;
        display:flex;
        justify-content: space-between;
        align-items: center;
        button{
            border-radius:4px;
            padding: 8px 20px;
            margin-bottom:10px;
        }
        .Btn__Firmer{
            color: black;
            background-color: #e7e7e7;
            &:hover{
                background-color: #c3c3c3;
            }
        }
        .Btn__Enregistrer{
            color: white;
            background-color: #367fa9;
            svg{
                fill: white !important;
                position: relative;
                top:2px;
            }
            &:hover{
                background-color: #024d79;
            }
        }

    }
}