.RemarqueSection{
    margin: 20px;
    border: 1px solid #3c8dbc;
    border-radius:5px;
    .RemarqueSectionInput{
        padding: 20px;
        height:150px;
        background-color:white;
    }
    textarea{
        border: 1px solid #3c8dbc !important;
        width: 100%;
        border-radius:5px;
        padding: 10px ;
        height: 100px;
    }
}