.TableAffiche{
    display: flex;
    align-items: center;
    position: relative;
    top:30px;
    left:30px;
    select{
        border: 1px solid black;
        width: 80px;
        margin: 0px 10px;
        position: relative;
        bottom: 8px;
        padding: 5px 10px;
    }

}
.TableResultSearch{
    .dropdown-toggle{
        color: white !important;
    }
    .dropdown-menu{
        a{
            padding: 5px 0px !important;
            i{
                margin: 0px 10px ;
            }
        }
    }
    .BtnEtat{
        
        padding: 5px 10px;
        border-radius:5px;
        color:white;
    }
    .EnCours{
        background-color:#00c0ef;
    }
    .Accepté{
        background-color:#00a65a;
    }
    .Clôturer{
        background-color:#3c8dbc;
    }
    .Annulé{
        background-color:#d2d6de;

    }

}
.v-sheet.v-list{
    border: 1px solid black;
    background: #fdfdfd;
}
.v-list-item__content{
    width:100%;
    &:hover{
        background-color:#00c0ef !important;
        color:white;

    }
}
.SearchBydate{
    display:flex;
    align-items:center;
    margin: 0px 20px;
    input{
        border: 1px solid black;
        padding: 5px 10px;
    }
    label{
        background-color: rgb(226, 226, 226);
        padding: 10px 6px;
        color:rgb(136, 136, 136);
    }
}