// Primary Color

$SideBarBackColor : #222d32;
$SideBarIconColor : #d9d9d9 !important;
$TextColor-100:#222d32;
$TextColor-200:#959595;

$BackgroundColor-100:#3c8dbc;

$Body-100:#ecf0f5;

// Black & White
$black: #000000;
$white: #ffffff;


//Shadows
$shadow-1:0px 8px 12px rgba(0, 0, 0, 0.25);;

//Font-Sizes
$size-xx-small: 14px;
$size-x-small: 15px;
$size-small: 16px;
$size-regular: 18px;
$size-medium: 20px;
$size-larg: 24px;
$size-x-larg: 32px;
$size-xx-larg: 45px;



// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
