@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

body {
  line-height: 100%;
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
}

i {
  vertical-align: middle;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:visited:focus {
  outline: thin dotted;
}

a:active, a:hover,
a:visited:active,
a:visited:hover {
  outline: 0;
}

input,
textarea:focus {
  outline: 0;
}

button:focus {
  cursor: pointer;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  max-width: 100%;
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/*=== Import Fonts ===*/
@font-face {
  font-family: 'poping-Regular';
  src: url(../fonts/poppins-1/Poppins-Regular.otf);
}

@font-face {
  font-family: 'poping-Extrabold';
  src: url(../fonts/poppins-1/Poppins-ExtraBold.otf);
}

@font-face {
  font-family: 'poping-Semibold';
  src: url(../fonts/poppins-1/Poppins-SemiBold.otf);
}

@font-face {
  font-family: 'poping-Medium';
  src: url(../fonts/poppins-1/Poppins-Medium.otf);
}

@font-face {
  font-family: 'poping-Bold';
  src: url(../fonts/poppins-1/Poppins-Bold.otf);
}

@font-face {
  font-family: 'poping-iLght';
  src: url(../fonts/poppins-1/Poppins-Light.otf);
}

/*=== Typography Styling ===*/
* {
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 16px;
}

.SideBare .v-card {
  height: 100vh !important;
  width: 250px !important;
  background-color: #222d32 !important;
  border-radius: 0px !important;
  transition: 0.3s ease-in-out !important;
}

.SideBare .v-list-item__avatar {
  display: none !important;
}

.SideBare .v-list-item {
  padding: 12px 20px !important;
  min-height: 0px !important;
}

.SideBare .v-list-item__title {
  font-size: 13px !important;
  color: #d9d9d9 !important !important;
}

.SideBare .list-item__icon:first-child {
  margin-right: 10px;
}

.SideBare .v-list {
  padding: 0px !important;
  background-color: #222d32 !important;
}

.SideBare .v-list-item__icon {
  margin: 0px !important;
  margin-right: 10px !important;
  display: content !important;
}

.SideBare .v-list-item .v-list-item__title, .SideBare .v-list-item .v-list-item__subtitle, .SideBare .NotHasChild {
  color: #c9c9c9 !important;
}

.SideBare .v-icon, .SideBare i {
  color: #c9c9c9 !important;
  font-size: 18px !important;
}

.SideBare .Tableau__bord__title {
  position: relative;
  top: 2px;
  cursor: pointer !important;
}

.SideBare .SideBar_Logo {
  background-color: #367fa9 !important;
  cursor: pointer !important;
}

.SideBare .SideBar_Logo .SideBar_Logo__title {
  font-size: 30px !important;
  font-weight: bolder !important;
  text-align: center !important;
  color: white !important;
}

.SideBare .SideBar_Logo:hover {
  background-color: #367fa9 !important;
}

.SideBare .v-list-group__items {
  background-color: #2c3b41 !important;
}

.SideBare .v-list-group__items .v-list-group:hover .v-list-item__title {
  color: white !important;
}

.SideBare .v-list-group__header__prepend-icon {
  max-width: 13px !important;
}

.SideBare .First_Header:hover, .SideBare .First_Header:focus {
  background-color: #141c1f !important;
}

.SideBare .Second_Header .v-list-group__header, .SideBare .NotHasChild .v-list-group__header {
  min-height: 0px !important;
  padding: 8px 25px !important;
}

.SideBare .Second_Header i, .SideBare .NotHasChild i {
  font-size: 12px !important;
  transition: 0.2s ease-in-out;
}

.SideBare .Second_Header .v-list-item__icon, .SideBare .NotHasChild .v-list-item__icon {
  min-width: 16px !important;
  margin: 0px !important;
  font-size: 14px !important;
  position: relative;
  top: 2px;
  transition: 0.3s ease-in-out;
  text-align: end !important;
}

.SideBare .Second_Header .v-list-item__content, .SideBare .NotHasChild .v-list-item__content {
  padding: 0px !important;
}

.SideBare .Second_Header .v-list-item__title, .SideBare .NotHasChild .v-list-item__title {
  position: relative;
  left: 5px !important;
  font-size: 14px !important;
}

.SideBare .Second_Header:hover .v-list-item__title, .SideBare .Second_Header:hover i, .SideBare .Second_Header:hover .v-list-item__icon, .SideBare .NotHasChild:hover .v-list-item__title, .SideBare .NotHasChild:hover i, .SideBare .NotHasChild:hover .v-list-item__icon {
  color: white !important;
}

.SideBare .Third_child {
  padding: 6px 10px !important;
  padding-left: 60px !important;
  min-height: 0px !important;
}

.SideBare .logo_img {
  width: 100%;
  margin: auto !important;
}

.SideBare .SideBar_Icons {
  display: block !important;
  min-width: 24px;
}

.SideBare .HasNotChidData .v-list-group__header__prepend-icon {
  display: none !important;
}

.HomePage {
  display: flex;
}

.NouvelleDevisProforma {
  background-color: #ecf0f5;
  width: 100%;
  padding: 20px;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header {
  display: flex;
  justify-content: space-between;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Left h2 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10px;
  color: #222d32;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Left p {
  font-size: 15px;
  font-weight: 300;
  color: #959595;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .RouteLink {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .RouteLink a {
  font-size: 13px !important;
  color: #222d32 !important;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .RouteLink a i {
  position: relative;
  bottom: 3px;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .RouteLink span {
  font-size: 13px !important;
  color: #959595 !important;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .RouteLink .RoutlinkZone {
  margin: 0px 10px;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .NouvelleDevisProforma__Header__Right__Btns {
  text-align: end;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .NouvelleDevisProforma__Header__Right__Btns button {
  background-color: #3c8dbc;
  padding: 10px;
  border-radius: 2px;
  color: white;
  border: 1px solid #367fa9;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .NouvelleDevisProforma__Header__Right__Btns button svg {
  fill: white;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .NouvelleDevisProforma__Header__Right__Btns button:hover {
  background-color: #367fa9;
}

.NouvelleDevisProforma .SwitchOptions {
  margin: 30px 0px;
}

.NouvelleDevisProforma .SwitchOptions .v-toolbar__content {
  display: none;
}

.NouvelleDevisProforma .SwitchOptions .v-sheet {
  background-color: white !important;
  height: auto !important;
  border-bottom: 1px solid #c2c2c2;
}

.NouvelleDevisProforma .SwitchOptions .v-sheet .v-tab {
  font-size: 12px !important;
  color: #222d32 !important;
  margin-left: 0px !important;
}

.NouvelleDevisProforma .SwitchOptions .v-sheet .v-tab i {
  margin: 0px 10px;
}

.NouvelleDevisProforma .InformationPiéce, .NouvelleDevisProforma .InformationFinanciéres {
  display: flex;
  align-items: center;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field, .NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field {
  width: 17% !important;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field h5, .NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field h5 {
  color: #222d32 !important;
  font-size: 15px;
  padding-bottom: 15px;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field input, .NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field select, .NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field input, .NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field select {
  border: 1px solid #d4d4d4;
  padding: 6px 10px;
  width: 90%;
  border-radius: 2px;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field .RemiseGlobal, .NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field .RemiseGlobal {
  display: flex;
  width: 50%;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field .RemiseGlobal input, .NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field .RemiseGlobal input {
  width: 100%;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field .RemiseGlobal select, .NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field .RemiseGlobal select {
  width: 40%;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field .Port, .NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field .Port {
  width: 60%;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field .TVA, .NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field .TVA {
  width: 40%;
}
