@charset "UTF-8";
nav .v-toolbar {
  height: 55px !important;
  background-color: #3c8dbc !important;
}

.ch {
  margin-top: 23px;
}

.v-menu__content {
  box-shadow: none;
}

.NouvelleDevisProforma__Header {
  margin-bottom: -31px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
.GlobalPage {
  width: 100%;
  height: 100vh;
  background-color: #ecf0f5;
  overflow-y: scroll;
}

.MessageErrorFiled {
  color: #dd4b39;
  display: block;
  padding: 10px 0px;
  position: absolute;
}

.ArticleFailedError {
  top: 40px;
}

.AlertError {
  background-color: #dd4b39 !important;
  margin-top: 30px;
}

.BackGourndBlackGlobalPage {
  background-color: rgba(0, 0, 0, 0.7) !important;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
}

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

body {
  line-height: 100%;
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
}

i {
  vertical-align: middle;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:visited:focus {
  outline: thin dotted;
}

a:active, a:hover,
a:visited:active,
a:visited:hover {
  outline: 0;
}

input,
textarea:focus {
  outline: 0;
}

button:focus {
  cursor: pointer;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  max-width: 100%;
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
  object-fit: cover;
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/*=== Import Fonts ===*/
@font-face {
  font-family: 'poping-Regular';
  src: url(../fonts/poppins-1/Poppins-Regular.otf);
}

@font-face {
  font-family: 'poping-Extrabold';
  src: url(../fonts/poppins-1/Poppins-ExtraBold.otf);
}

@font-face {
  font-family: 'poping-Semibold';
  src: url(../fonts/poppins-1/Poppins-SemiBold.otf);
}

@font-face {
  font-family: 'poping-Medium';
  src: url(../fonts/poppins-1/Poppins-Medium.otf);
}

@font-face {
  font-family: 'poping-Bold';
  src: url(../fonts/poppins-1/Poppins-Bold.otf);
}

@font-face {
  font-family: 'poping-iLght';
  src: url(../fonts/poppins-1/Poppins-Light.otf);
}

/*=== Typography Styling ===*/
* {
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 16px;
}

.SideBare .v-card {
  height: 100vh !important;
  width: 250px !important;
  background-color: #222d32 !important;
  border-radius: 0px !important;
  transition: 0.3s ease-in-out !important;
}

.SideBare .v-list-item__avatar {
  display: none !important;
}

.SideBare .v-list-item {
  padding: 12px 20px !important;
  min-height: 0px !important;
}

.SideBare .v-list-item__title {
  font-size: 13px !important;
  color: #d9d9d9 !important !important;
}

.SideBare .list-item__icon:first-child {
  margin-right: 10px;
}

.SideBare .v-list {
  padding: 0px !important;
  background-color: #222d32 !important;
}

.SideBare .v-list-item__icon {
  margin: 0px !important;
  margin-right: 10px !important;
  display: content !important;
}

.SideBare .v-list-item .v-list-item__title, .SideBare .v-list-item .v-list-item__subtitle, .SideBare .NotHasChild {
  color: #c9c9c9 !important;
}

.SideBare .v-icon, .SideBare i {
  color: #c9c9c9 !important;
  font-size: 18px !important;
}

.SideBare .Tableau__bord__title {
  position: relative;
  top: 2px;
  cursor: pointer !important;
}

.SideBare .SideBar_Logo {
  background-color: #367fa9 !important;
  cursor: pointer !important;
}

.SideBare .SideBar_Logo .SideBar_Logo__title {
  font-size: 30px !important;
  font-weight: bolder !important;
  text-align: center !important;
  color: white !important;
}

.SideBare .SideBar_Logo:hover {
  background-color: #367fa9 !important;
}

.SideBare .v-list-group__items {
  background-color: #2c3b41 !important;
}

.SideBare .v-list-group__items .v-list-group:hover .v-list-item__title {
  color: white !important;
}

.SideBare .v-list-group__header__prepend-icon {
  max-width: 13px !important;
}

.SideBare .First_Header:hover, .SideBare .First_Header:focus {
  background-color: #141c1f !important;
}

.SideBare .Second_Header .v-list-group__header, .SideBare .NotHasChild .v-list-group__header {
  min-height: 0px !important;
  padding: 8px 25px !important;
}

.SideBare .Second_Header i, .SideBare .NotHasChild i {
  font-size: 12px !important;
  transition: 0.2s ease-in-out;
}

.SideBare .Second_Header .v-list-item__icon, .SideBare .NotHasChild .v-list-item__icon {
  min-width: 16px !important;
  margin: 0px !important;
  font-size: 14px !important;
  position: relative;
  top: 2px;
  transition: 0.3s ease-in-out;
  text-align: end !important;
}

.SideBare .Second_Header .v-list-item__content, .SideBare .NotHasChild .v-list-item__content {
  padding: 0px !important;
}

.SideBare .Second_Header .v-list-item__title, .SideBare .NotHasChild .v-list-item__title {
  position: relative;
  left: 5px !important;
  font-size: 14px !important;
}

.SideBare .Second_Header:hover .v-list-item__title, .SideBare .Second_Header:hover i, .SideBare .Second_Header:hover .v-list-item__icon, .SideBare .NotHasChild:hover .v-list-item__title, .SideBare .NotHasChild:hover i, .SideBare .NotHasChild:hover .v-list-item__icon {
  color: white !important;
}

.SideBare .Third_child {
  padding: 6px 10px !important;
  padding-left: 60px !important;
  min-height: 0px !important;
}

.SideBare .logo_img {
  width: 100%;
  margin: auto !important;
}

.SideBare .SideBar_Icons {
  display: block !important;
  min-width: 24px;
}

.SideBare .HasNotChidData .v-list-group__header__prepend-icon {
  display: none !important;
}

.AlertConfirmation {
  background-color: white !important;
  width: 40%;
  border-radius: 4px;
  position: fixed;
  top: 0;
  transform: translate(65%, 15%);
  z-index: 200;
}

.AlertConfirmation p {
  padding: 25px 20px;
  font-size: 13px;
}

.AlertConfirmation .Confirmation__text {
  border-top: 1px solid #d9d9d9 !important;
  border-bottom: 1px solid #d9d9d9 !important;
}

.AlertConfirmation .btns {
  padding: 20px;
  text-align: end;
}

.AlertConfirmation .btns button {
  padding: 10px 17px;
  border-radius: 3px;
  margin: 0px 5px;
}

.AlertConfirmation .btns .Btn__Annuer {
  background-color: #e7e7e7;
  color: black;
}

.AlertConfirmation .btns .Btn__Annuer:hover {
  background-color: #b4b4b4;
}

.AlertConfirmation .btns .Btn__Confirmer {
  background-color: #008d4c;
  color: white;
}

.AlertConfirmation .btns .Btn__Confirmer:hover {
  background-color: #036638;
}

.PopupNewClient, .PopupNewArticle {
  width: 650px;
  background-color: white !important;
  border-radius: 4px;
  position: fixed;
  top: 0;
  transform: translate(90%, 5%);
  z-index: 200;
}

.PopupNewClient .PopupNewClient__title, .PopupNewArticle .PopupNewClient__title {
  padding: 20px 20px 10px 20px;
  border-bottom: 1px solid #d9d9d9 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PopupNewClient .PopupNewClient__title p, .PopupNewArticle .PopupNewClient__title p {
  font-weight: 500;
  color: #222d32;
  font-size: 18px;
}

.PopupNewClient .PopupNewClient__title svg, .PopupNewArticle .PopupNewClient__title svg {
  position: relative;
  fill: #d9d9d9 !important;
  bottom: 10px;
  cursor: pointer;
}

.PopupNewClient .PopupNewClient__title svg:hover, .PopupNewArticle .PopupNewClient__title svg:hover {
  fill: black !important;
}

.PopupNewClient .PopupNewClient__information, .PopupNewClient .PopupNewArticle_Information, .PopupNewClient .PopupChoiserArticle__Search, .PopupNewArticle .PopupNewClient__information, .PopupNewArticle .PopupNewArticle_Information, .PopupNewArticle .PopupChoiserArticle__Search {
  display: flex;
  padding: 10px 20px;
}

.PopupNewClient .PopupNewClient__information .PopupNewClient__Right__Filed, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__zone, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__Faild, .PopupNewClient .PopupNewArticle_Information .PopupNewClient__Right__Filed, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__zone, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__Faild, .PopupNewClient .PopupChoiserArticle__Search .PopupNewClient__Right__Filed, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__zone, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild, .PopupNewArticle .PopupNewClient__information .PopupNewClient__Right__Filed, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__zone, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__Faild, .PopupNewArticle .PopupNewArticle_Information .PopupNewClient__Right__Filed, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__zone, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__Faild, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewClient__Right__Filed, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__zone, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild {
  padding: 10px 0px 25px 0px;
}

.PopupNewClient .PopupNewClient__information .PopupNewClient__Right__Filed input, .PopupNewClient .PopupNewClient__information .PopupNewClient__Right__Filed select, .PopupNewClient .PopupNewClient__information .PopupNewClient__Right__Filed textarea, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__zone input, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__zone select, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__zone textarea, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__Faild input, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__Faild select, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__Faild textarea, .PopupNewClient .PopupNewArticle_Information .PopupNewClient__Right__Filed input, .PopupNewClient .PopupNewArticle_Information .PopupNewClient__Right__Filed select, .PopupNewClient .PopupNewArticle_Information .PopupNewClient__Right__Filed textarea, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__zone input, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__zone select, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__zone textarea, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__Faild input, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__Faild select, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__Faild textarea, .PopupNewClient .PopupChoiserArticle__Search .PopupNewClient__Right__Filed input, .PopupNewClient .PopupChoiserArticle__Search .PopupNewClient__Right__Filed select, .PopupNewClient .PopupChoiserArticle__Search .PopupNewClient__Right__Filed textarea, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__zone input, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__zone select, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__zone textarea, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild input, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild select, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild textarea, .PopupNewArticle .PopupNewClient__information .PopupNewClient__Right__Filed input, .PopupNewArticle .PopupNewClient__information .PopupNewClient__Right__Filed select, .PopupNewArticle .PopupNewClient__information .PopupNewClient__Right__Filed textarea, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__zone input, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__zone select, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__zone textarea, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__Faild input, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__Faild select, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__Faild textarea, .PopupNewArticle .PopupNewArticle_Information .PopupNewClient__Right__Filed input, .PopupNewArticle .PopupNewArticle_Information .PopupNewClient__Right__Filed select, .PopupNewArticle .PopupNewArticle_Information .PopupNewClient__Right__Filed textarea, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__zone input, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__zone select, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__zone textarea, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__Faild input, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__Faild select, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__Faild textarea, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewClient__Right__Filed input, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewClient__Right__Filed select, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewClient__Right__Filed textarea, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__zone input, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__zone select, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__zone textarea, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild input, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild select, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild textarea {
  border: 1px solid #d4d4d4;
  padding: 8px 10px;
  width: 90%;
  border-radius: 2px;
  font-size: 12px !important;
}

.PopupNewClient .PopupNewClient__information .PopupNewClient__Right__Filed h6, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__zone h6, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__Faild h6, .PopupNewClient .PopupNewArticle_Information .PopupNewClient__Right__Filed h6, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__zone h6, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__Faild h6, .PopupNewClient .PopupChoiserArticle__Search .PopupNewClient__Right__Filed h6, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__zone h6, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild h6, .PopupNewArticle .PopupNewClient__information .PopupNewClient__Right__Filed h6, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__zone h6, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__Faild h6, .PopupNewArticle .PopupNewArticle_Information .PopupNewClient__Right__Filed h6, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__zone h6, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__Faild h6, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewClient__Right__Filed h6, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__zone h6, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild h6 {
  margin-bottom: 5px;
  font-size: 14px;
}

.PopupNewClient .PopupNewClient__information .PopupNewClient__Right__Filed .Checkbox, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__zone .Checkbox, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__Faild .Checkbox, .PopupNewClient .PopupNewArticle_Information .PopupNewClient__Right__Filed .Checkbox, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__zone .Checkbox, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__Faild .Checkbox, .PopupNewClient .PopupChoiserArticle__Search .PopupNewClient__Right__Filed .Checkbox, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__zone .Checkbox, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild .Checkbox, .PopupNewArticle .PopupNewClient__information .PopupNewClient__Right__Filed .Checkbox, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__zone .Checkbox, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__Faild .Checkbox, .PopupNewArticle .PopupNewArticle_Information .PopupNewClient__Right__Filed .Checkbox, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__zone .Checkbox, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__Faild .Checkbox, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewClient__Right__Filed .Checkbox, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__zone .Checkbox, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild .Checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.PopupNewClient .PopupNewClient__information .PopupNewClient__Right__Filed .Checkbox .Checkbox__single, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__zone .Checkbox .Checkbox__single, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__Faild .Checkbox .Checkbox__single, .PopupNewClient .PopupNewArticle_Information .PopupNewClient__Right__Filed .Checkbox .Checkbox__single, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__zone .Checkbox .Checkbox__single, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__Faild .Checkbox .Checkbox__single, .PopupNewClient .PopupChoiserArticle__Search .PopupNewClient__Right__Filed .Checkbox .Checkbox__single, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__zone .Checkbox .Checkbox__single, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild .Checkbox .Checkbox__single, .PopupNewArticle .PopupNewClient__information .PopupNewClient__Right__Filed .Checkbox .Checkbox__single, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__zone .Checkbox .Checkbox__single, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__Faild .Checkbox .Checkbox__single, .PopupNewArticle .PopupNewArticle_Information .PopupNewClient__Right__Filed .Checkbox .Checkbox__single, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__zone .Checkbox .Checkbox__single, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__Faild .Checkbox .Checkbox__single, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewClient__Right__Filed .Checkbox .Checkbox__single, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__zone .Checkbox .Checkbox__single, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild .Checkbox .Checkbox__single {
  display: flex;
  align-items: center;
  width: 100%;
}

.PopupNewClient .PopupNewClient__information .PopupNewClient__Right__Filed .Checkbox .Checkbox__single input, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__zone .Checkbox .Checkbox__single input, .PopupNewClient .PopupNewClient__information .PopupNewArticle_Information__Faild .Checkbox .Checkbox__single input, .PopupNewClient .PopupNewArticle_Information .PopupNewClient__Right__Filed .Checkbox .Checkbox__single input, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__zone .Checkbox .Checkbox__single input, .PopupNewClient .PopupNewArticle_Information .PopupNewArticle_Information__Faild .Checkbox .Checkbox__single input, .PopupNewClient .PopupChoiserArticle__Search .PopupNewClient__Right__Filed .Checkbox .Checkbox__single input, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__zone .Checkbox .Checkbox__single input, .PopupNewClient .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild .Checkbox .Checkbox__single input, .PopupNewArticle .PopupNewClient__information .PopupNewClient__Right__Filed .Checkbox .Checkbox__single input, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__zone .Checkbox .Checkbox__single input, .PopupNewArticle .PopupNewClient__information .PopupNewArticle_Information__Faild .Checkbox .Checkbox__single input, .PopupNewArticle .PopupNewArticle_Information .PopupNewClient__Right__Filed .Checkbox .Checkbox__single input, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__zone .Checkbox .Checkbox__single input, .PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__Faild .Checkbox .Checkbox__single input, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewClient__Right__Filed .Checkbox .Checkbox__single input, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__zone .Checkbox .Checkbox__single input, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewArticle_Information__Faild .Checkbox .Checkbox__single input {
  width: 25%;
  cursor: pointer;
}

.PopupNewClient .PopupNewClient__information .CodePostalAndVille, .PopupNewClient .PopupNewArticle_Information .CodePostalAndVille, .PopupNewClient .PopupChoiserArticle__Search .CodePostalAndVille, .PopupNewArticle .PopupNewClient__information .CodePostalAndVille, .PopupNewArticle .PopupNewArticle_Information .CodePostalAndVille, .PopupNewArticle .PopupChoiserArticle__Search .CodePostalAndVille {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PopupNewClient .PopupNewClient__information .PopupNewClient__Right, .PopupNewClient .PopupNewArticle_Information .PopupNewClient__Right, .PopupNewClient .PopupChoiserArticle__Search .PopupNewClient__Right, .PopupNewArticle .PopupNewClient__information .PopupNewClient__Right, .PopupNewArticle .PopupNewArticle_Information .PopupNewClient__Right, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewClient__Right {
  width: 50%;
}

.PopupNewClient .PopupNewClient__information .PopupNewClient__left, .PopupNewClient .PopupNewArticle_Information .PopupNewClient__left, .PopupNewClient .PopupChoiserArticle__Search .PopupNewClient__left, .PopupNewArticle .PopupNewClient__information .PopupNewClient__left, .PopupNewArticle .PopupNewArticle_Information .PopupNewClient__left, .PopupNewArticle .PopupChoiserArticle__Search .PopupNewClient__left {
  width: 50%;
}

.PopupNewClient .PopupNewClient__btns, .PopupNewArticle .PopupNewClient__btns {
  padding: 20px 20px 10px 20px;
  border-top: 1px solid #d9d9d9 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PopupNewClient .PopupNewClient__btns button, .PopupNewArticle .PopupNewClient__btns button {
  border-radius: 4px;
  padding: 8px 20px;
  margin-bottom: 10px;
}

.PopupNewClient .PopupNewClient__btns .Btn__Firmer, .PopupNewArticle .PopupNewClient__btns .Btn__Firmer {
  color: black;
  background-color: #e7e7e7;
}

.PopupNewClient .PopupNewClient__btns .Btn__Firmer:hover, .PopupNewArticle .PopupNewClient__btns .Btn__Firmer:hover {
  background-color: #c3c3c3;
}

.PopupNewClient .PopupNewClient__btns .Btn__Enregistrer, .PopupNewArticle .PopupNewClient__btns .Btn__Enregistrer {
  color: white;
  background-color: #367fa9;
}

.PopupNewClient .PopupNewClient__btns .Btn__Enregistrer svg, .PopupNewArticle .PopupNewClient__btns .Btn__Enregistrer svg {
  fill: white !important;
  position: relative;
  top: 2px;
}

.PopupNewClient .PopupNewClient__btns .Btn__Enregistrer:hover, .PopupNewArticle .PopupNewClient__btns .Btn__Enregistrer:hover {
  background-color: #024d79;
}

.AddArticleVentes {
  margin: 20px;
  border: 1px solid #3c8dbc;
  border-radius: 5px;
}

.AddArticleVentes .AddArticleVentes__articles {
  background-color: white;
  padding: 10px 20px;
}

.AddArticleVentes .AddArticleVentes__articles table .FailedArticle {
  width: 20%;
}

.AddArticleVentes .AddArticleVentes__articles table .FailedTailsArticle {
  width: 20%;
}

.AddArticleVentes .AddArticleVentes__articles table .FaildAddImageAndName {
  display: flex;
  width: 100%;
}

.AddArticleVentes .AddArticleVentes__articles table .FaildAddImageAndName button {
  border: 1px solid #d4d4d4;
  padding: 6px 10px;
  width: 90%;
  border-radius: 2px;
  font-size: 13px !important;
  text-align: start;
  color: #222d32 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddArticleVentes .AddArticleVentes__articles table .FaildAddImageAndName button i {
  position: relative;
  bottom: 1px;
  color: #222d32 !important;
}

.AddArticleVentes .AddArticleVentes__articles table .FaildAddImageAndName .ScrollSelectionerArticel {
  width: 100%;
}

.AddArticleVentes .AddArticleVentes__articles table .FaildAddImageAndName .ScrollSelectionerArticel .PlaceClientAndSearch input {
  margin: 4px 7px !important;
  width: 90% !important;
  padding: 4px 10px !important;
}

.AddArticleVentes .AddArticleVentes__articles table .FaildAddImageAndName img {
  margin: 0px 30px 10px 0px;
  width: 30% !important;
  height: 80px;
  border: 1px solid black;
  border-radius: 4px;
  object-fit: cover;
}

.AddArticleVentes .AddArticleVentes__articles table .FailedSimple {
  width: 8% !important;
}

.AddArticleVentes .AddArticleVentes__articles table td {
  position: relative;
}

.AddArticleVentes .AddArticleVentes__articles table .InputZone {
  position: absolute;
  width: 90% !important;
}

.AddArticleVentes .AddArticleVentes__articles table .FailedSimpleBtn {
  width: 3% !important;
}

.AddArticleVentes .AddArticleVentes__articles table .FailedSimpleBtn .InputZone {
  position: absolute;
  width: 70% !important;
}

.AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__articles__btns {
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__articles__btns button {
  margin: 0px 10px;
  border: 1px solid black;
  padding: 7px 25px;
  border-radius: 4px;
}

.AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__articles__btns .row {
  flex: 0 !important;
}

.AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__articles__btns .row button {
  position: relative;
  padding: 21px 25px !important;
  top: 14px;
  right: 10px;
  background-color: #30add2;
  color: white;
  border: none !important;
}

.AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__TableMontant, .AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__TVA {
  padding: 20px 0px;
}

.AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__TableMontant th, .AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__TVA th {
  padding: 7px 3px;
}

.AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__TableMontant td, .AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__TVA td {
  padding: 0px  !important;
}

.AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__TableMontant input, .AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__TVA input {
  border: none !important;
  padding: 6px !important;
  background-color: #ececec !important;
  color: black;
}

.AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__TVA {
  width: 30%;
  margin-left: auto;
  text-align: center;
}

.AddArticleVentes .AddArticleVentes__articles .AddArticleVentes__TVA p {
  color: #3c8dbc;
}

.AddArticleVentes__lines, .RemarqueSection_lines {
  background-color: #3c8dbc;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.AddArticleVentes__lines h4, .RemarqueSection_lines h4 {
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
}

.AddArticleVentes__lines i, .RemarqueSection_lines i {
  font-size: 25px;
}

.RemarqueSection {
  margin: 20px;
  border: 1px solid #3c8dbc;
  border-radius: 5px;
}

.RemarqueSection .RemarqueSectionInput {
  padding: 20px;
  height: 150px;
  background-color: white;
}

.RemarqueSection textarea {
  border: 1px solid #3c8dbc !important;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  height: 100px;
}

.PopupNewArticle .PopupNewArticle_Information {
  display: block !important;
  margin: 5px 0px !important;
}

.PopupNewArticle .PopupNewArticle_Information input, .PopupNewArticle .PopupNewArticle_Information textarea {
  margin: 10px 0px;
}

.PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__zone .InputPrix {
  display: flex;
  align-items: center;
}

.PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__zone .Libellé {
  width: 70%;
}

.PopupNewArticle .PopupNewArticle_Information .PopupNewArticle_Information__zone .TVA select {
  width: 100% !important;
}

.PopupNewArticle .PopupNewArticle_Information .PriceArticle input, .PopupNewArticle .PopupNewArticle_Information .PriceArticle select {
  width: 30% !important;
}

.PopupNewArticle .PopupNewArticle_Information .CheckboxZone {
  display: flex;
  align-items: center;
}

.PopupNewArticle .PopupNewArticle_Information .CheckboxZone input {
  position: relative;
  bottom: 2px;
}

.PopupNewArticle .PopupNewArticle_Information .CheckboxZone h6 {
  margin: 0px 10px;
}

.PopupNewArticle .PopupNewArticle_Information .Catageory, .PopupNewArticle .PopupNewArticle_Information .PriceArticle, .PopupNewArticle .PopupNewArticle_Information .CheckboxZone {
  border-bottom: 1px solid #1f1f1f;
  padding-bottom: 15px;
}

.PopupNewArticle .PopupNewArticle_Information .Description {
  display: block !important;
}

.PopupNewArticle .PopupNewArticle_Information .Description .DiscriptionZOne {
  margin-bottom: 10px;
}

.PopupNewArticle .PopupNewArticle_Information .Description .DiscriptionZOne textarea {
  width: 100% !important;
  height: 100px;
}

.PopupNewArticle .ArticleErrorPoupFaild {
  padding: 0px !important;
}

.PopupChoiserArticle {
  width: 50%;
  transform: translate(45%, 5%);
  margin: 0px auto;
  height: 100vh;
  overflow: scroll !important;
  margin-bottom: 300px !important;
}

.PopupChoiserArticle .PopupChoiserArticle__Search, .PopupChoiserArticle .PopupNewArticle_Information__Faild {
  width: 100% !important;
}

.PopupChoiserArticle .PopupChoiserArticle__Search h6, .PopupChoiserArticle .PopupNewArticle_Information__Faild h6 {
  display: block !important;
}

.PopupChoiserArticle .PopupNewArticle_Information__Title {
  background-color: #d2d6de;
  width: 96% !important;
  padding: 16px 10px;
  margin: 10px 20px !important;
  margin-bottom: 0px !important;
  font-weight: 100 !important;
}

.PopupChoiserArticle .PopupNewArticle_Information {
  padding: 0px 20px;
  margin: 0px 20px;
  border: 1px solid #d2d6de !important;
  margin-bottom: 20px !important;
  display: block;
}

.PopupChoiserArticle .PopupNewArticle_TableArticles {
  margin: 20px 20px;
}

.PopupChoiserArticle .Btn__CHoiserArticles {
  background-color: #5ab55e !important;
}

.PopupChoiserArticle .PopupNewClient__btns {
  margin-bottom: 50px;
}

.HomePage {
  display: flex;
}

.NouvelleDevisProforma {
  width: 100%;
  padding: 20px;
  padding-bottom: 0px !important;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header {
  display: flex;
  justify-content: space-between;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Left h2 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10px;
  color: #222d32;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Left p {
  font-size: 15px;
  font-weight: 300;
  color: #959595;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .RouteLink {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .RouteLink a {
  font-size: 13px !important;
  color: #222d32 !important;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .RouteLink a i {
  position: relative;
  bottom: 3px;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .RouteLink span {
  font-size: 13px !important;
  color: #959595 !important;
}

.NouvelleDevisProforma .NouvelleDevisProforma__Header .NouvelleDevisProforma__Header__Right .RouteLink .RoutlinkZone {
  margin: 0px 10px;
}

.NouvelleDevisProforma .SwitchOptions {
  margin: 30px 0px;
}

.NouvelleDevisProforma .SwitchOptions .v-toolbar__content {
  display: none;
}

.NouvelleDevisProforma .SwitchOptions .v-sheet {
  background-color: white !important;
  height: auto !important;
  border-bottom: 1px solid #c2c2c2;
}

.NouvelleDevisProforma .SwitchOptions .v-sheet .v-tab {
  font-size: 12px !important;
  color: #222d32 !important;
  margin-left: 0px !important;
}

.NouvelleDevisProforma .SwitchOptions .v-sheet .v-tab i {
  margin: 0px 10px;
}

.NouvelleDevisProforma .InformationPiéce,
.NouvelleDevisProforma .InformationFinanciéres,
.NouvelleDevisProforma .Logistique,
.NouvelleDevisProforma .Options {
  display: flex;
  align-items: center;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field,
.NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field,
.NouvelleDevisProforma .Logistique .InformationPiéce__Field,
.NouvelleDevisProforma .Options .InformationPiéce__Field {
  width: 17% !important;
  margin-bottom: 25px;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field h5,
.NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field h5,
.NouvelleDevisProforma .Logistique .InformationPiéce__Field h5,
.NouvelleDevisProforma .Options .InformationPiéce__Field h5 {
  color: #222d32 !important;
  font-size: 15px;
  padding-bottom: 15px;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field input,
.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field select,
.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field textarea,
.NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field input,
.NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field select,
.NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field textarea,
.NouvelleDevisProforma .Logistique .InformationPiéce__Field input,
.NouvelleDevisProforma .Logistique .InformationPiéce__Field select,
.NouvelleDevisProforma .Logistique .InformationPiéce__Field textarea,
.NouvelleDevisProforma .Options .InformationPiéce__Field input,
.NouvelleDevisProforma .Options .InformationPiéce__Field select,
.NouvelleDevisProforma .Options .InformationPiéce__Field textarea {
  border: 1px solid #d4d4d4;
  padding: 6px 10px;
  width: 90%;
  border-radius: 2px;
  font-size: 12px !important;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field .RemiseGlobal,
.NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field .RemiseGlobal,
.NouvelleDevisProforma .Logistique .InformationPiéce__Field .RemiseGlobal,
.NouvelleDevisProforma .Options .InformationPiéce__Field .RemiseGlobal {
  display: flex;
  width: 50%;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field .RemiseGlobal input,
.NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field .RemiseGlobal input,
.NouvelleDevisProforma .Logistique .InformationPiéce__Field .RemiseGlobal input,
.NouvelleDevisProforma .Options .InformationPiéce__Field .RemiseGlobal input {
  width: 100%;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field .RemiseGlobal select,
.NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field .RemiseGlobal select,
.NouvelleDevisProforma .Logistique .InformationPiéce__Field .RemiseGlobal select,
.NouvelleDevisProforma .Options .InformationPiéce__Field .RemiseGlobal select {
  width: 40%;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field .Port,
.NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field .Port,
.NouvelleDevisProforma .Logistique .InformationPiéce__Field .Port,
.NouvelleDevisProforma .Options .InformationPiéce__Field .Port {
  width: 60%;
}

.NouvelleDevisProforma .InformationPiéce .InformationPiéce__Field .TVA,
.NouvelleDevisProforma .InformationFinanciéres .InformationPiéce__Field .TVA,
.NouvelleDevisProforma .Logistique .InformationPiéce__Field .TVA,
.NouvelleDevisProforma .Options .InformationPiéce__Field .TVA {
  width: 40%;
}

.NouvelleDevisProforma .Logistique {
  width: 85% !important;
}

.NouvelleDevisProforma .Logistique .InformationPiéce__Field {
  width: 100% !important;
}

.NouvelleDevisProforma .Logistique .InformationPiéce__Field textarea {
  height: 30px;
}

.NouvelleDevisProforma .Options .InformationPiéce__Field {
  width: 25% !important;
}

.NouvelleDevisProforma .Options .InformationPiéce__Field .AficheLesPhoto {
  margin: 15px 0px;
  display: flex;
  align-items: center;
}

.NouvelleDevisProforma .Options .InformationPiéce__Field .AficheLesPhoto input {
  width: 10% !important;
}

.NouvelleDevisProforma .Options .InformationPiéce__Field .AficheLesPhoto h5 {
  margin: 0px !important;
  padding: 0px !important;
}

.NouvelleDevisProforma .DeleteRow {
  background-color: #dd4b39 !important;
  padding: 5px;
  border-radius: 6px;
}

.NouvelleDevisProforma .DeleteRow svg {
  fill: #ffffff;
}

.NouvelleDevisProforma .DeleteRow:hover {
  background-color: #b60000 !important;
}

.NouvelleDevisProforma .FDM,
.NouvelleDevisProforma .LE {
  width: 5% !important;
}

.NouvelleDevisProforma .FDM input,
.NouvelleDevisProforma .LE input {
  cursor: pointer;
}

.NouvelleDevisProforma .LE {
  width: 8% !important;
}

.NouvelleDevisProforma .LE input {
  width: 100% !important;
}

.NouvelleDevisProforma .btnAjouter {
  text-align: end;
  margin: 20px 0px;
}

.NouvelleDevisProforma .btnAjouter .AjouterUneEchéance {
  background-color: #00acd6;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.NouvelleDevisProforma .btnAjouter .AjouterUneEchéance span {
  font-weight: bold;
  font-size: 20px;
}

.NouvelleDevisProforma .btnAjouter .AjouterUneEchéance:hover {
  background-color: #017c9b;
}

.NouvelleDevisProforma .SearchClient {
  width: 90% !important;
}

.NouvelleDevisProforma .SearchClient button {
  border: 1px solid #d4d4d4;
  padding: 6px 10px;
  width: 90%;
  border-radius: 2px;
  font-size: 13px !important;
  text-align: start;
  color: #222d32 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NouvelleDevisProforma .SearchClient button i {
  position: relative;
  bottom: 1px;
  color: #222d32 !important;
}

.Échéancier table, .AddArticleVentes__articles table {
  border-collapse: collapse;
  width: 100%;
  text-align: start;
}

.Échéancier table th, .AddArticleVentes__articles table th {
  background-color: white;
  color: #222d32;
  font-weight: 500;
  font-size: 16px;
}

.Échéancier table td,
.Échéancier table th, .AddArticleVentes__articles table td,
.AddArticleVentes__articles table th {
  border: 1px solid #d9d9d9 !important;
  padding: 10px;
  text-align: start;
  width: 15%;
}

.Échéancier table td, .AddArticleVentes__articles table td {
  background-color: #f9f9f9;
  padding: 10px 8px !important;
}

.Échéancier table select,
.Échéancier table input, .AddArticleVentes__articles table select,
.AddArticleVentes__articles table input {
  background-color: white !important;
  border: 1px solid #d4d4d4;
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  font-size: 12px !important;
}

.Échéancier table .FiledDélaiJours__zone, .AddArticleVentes__articles table .FiledDélaiJours__zone {
  display: flex;
  align-items: center;
}

.Échéancier table .FiledDélaiJours__zone input, .AddArticleVentes__articles table .FiledDélaiJours__zone input {
  width: 80% !important;
  border-radius: 0px !important;
}

.PlaceClientAndSearch {
  width: 90%;
  border: 1px solid #d4d4d4;
  display: block;
}

.PlaceClientAndSearch input {
  border: 1px solid #3c8dbc;
  padding: 8px 10px;
  width: 90%;
  border-radius: 2px;
  font-size: 13px !important;
  color: #222d32 !important;
  margin: 4px 10px;
}

.PlaceClientAndSearch ul {
  padding: 0px;
  height: 250px;
  overflow-y: scroll;
}

.PlaceClientAndSearch ul li {
  padding: 8px 10px;
  font-size: 14px !important;
  color: #222d32;
  cursor: pointer;
}

.PlaceClientAndSearch ul li:hover {
  background-color: #3c8dbc;
  color: white;
}

.PlaceClientAndSearch ul .PlaceClientAndSearch_FirstLi {
  background-color: #dddddd;
}

.PlaceClientAndSearch_NewCient {
  color: #3c8dbc;
  margin: 10px 0px;
  padding: 12px 10px 7px 10px;
  border-top: 1px solid black;
  cursor: pointer;
}

.PlaceClientAndSearch_NewCient:hover {
  background-color: white;
  color: #0590e0;
}

.DeleteRow {
  background-color: #dd4b39 !important;
  padding: 5px;
  border-radius: 6px;
}

.DeleteRow svg {
  fill: #ffffff;
}

.DeleteRow:hover {
  background-color: #b60000 !important;
}

.Remise {
  display: flex;
}

.Remise input {
  width: 100%;
}

.Remise select {
  width: 100%;
}

.LastBtnEnregistrer {
  margin: 20px;
}

.NouvelleDevisProforma__Header__Right__Btns, .LastBtnEnregistrer {
  text-align: end;
  margin-bottom: 20px;
}

.NouvelleDevisProforma__Header__Right__Btns button, .LastBtnEnregistrer button {
  background-color: #3c8dbc;
  padding: 10px;
  border-radius: 2px;
  color: white;
  border: 1px solid #367fa9;
}

.NouvelleDevisProforma__Header__Right__Btns button svg, .LastBtnEnregistrer button svg {
  fill: white;
}

.NouvelleDevisProforma__Header__Right__Btns button:hover, .LastBtnEnregistrer button:hover {
  background-color: #367fa9;
}

.v-card.v-card--flat.v-sheet.theme--light {
  height: .v-card.v-card--flat.v-sheet.theme--light uto !important;
  margin-bottom: 22px !important;
}

.recherche_rapide_content {
  height: auto !important;
  margin-bottom: 200px !important;
  display: flex;
}

.v-card__title.text-p.blue.lighten-4.black--text {
  height: 43px;
}

.recherche_rapide_title {
  background-color: #d2d6de !important;
  padding: 10px;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 18px;
  line-height: 1;
}

.table-title {
  background-color: #3c8dbc !important;
  padding: 10px;
  color: white;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 18px;
  line-height: 1;
}

.mdi-clipboard-list-outline {
  font-size: 25px;
  color: white;
  margin-right: 8px;
}

.mdi-file-search {
  font-size: 25px;
  margin-right: 8px;
}

.mdi-calendar-month {
  margin-left: 23px;
}

.bnt-nv-bon-de-livraison {
  background-color: #3c8dbc !important;
  color: white;
}

.bnt-nv-bon-de-livraison .mdi-plus-thick {
  font-size: 21px;
  margin-right: 8px;
}

.nouveau-bon {
  margin-left: 83.5%;
  margin-bottom: 24px;
}

.table-btn-group {
  margin: 20px;
  margin-left: 76%;
  display: flex;
}

.action-icon {
  margin-right: 5px;
}

.action-btn {
  text-decoration: none;
}

.btnnnn {
  display: flex;
}
